.categories-bar {
  background-color: lightgray;
  height: 10vw;
  width: 100hw;
  margin: 0px 10px;
  padding: 0px 150px;
}

.category-item img {
  height: 6vw;
  width: 6hw;
  margin: 20px 20px 0px 20px;
}

.category-item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.cupons-bar {
  background-color: WhiteSmoke;
  height: 40vw;
  width: 100hw;
  padding: 0px 40px;
}

.cupons-item img {
  height: 220px;
  width: 220px;
}

.cupons-item {
  background-color: white;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 220px;
  margin: 5px 5px;
}

.cupons-title {
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 9px;
}
