.categories-bar { 
  position: relative;
  background-color: lightgray;
  /* top: 3rem; */
  height: 9vw;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 170px;
}

.category-item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-left: 50px;
}

.category-item img {
  height: 6vw;
  width: 6hw;
  margin: 20px 20px 0px 20px;
  filter: blur(0px);
}

.category-item img:hover{ 
  filter: blur(1px);
}


.cupons-bar {  
  position: absolute;  
  overflow-y: auto;
  overflow-x: hidden; 
  top: 12vw;   
  background-color:white;
  height: auto;
  min-height: 40vw;
  width: 100hw;
  padding: 0px 70px;
}

.cupons-item img {
  height: 250px;
  width: 250px;
}

.cupons-item {
  background-color: white;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin: 10px 20px;
}

.cupons-title {
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 9px;
}

#button_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  color:gray;
  border-color: white;
}

#button_top:hover {
  color: black;
}