.container {
    margin-top: -250px;
    margin-left: -400px;
    width: 800px;
    height: 400px;
}

.wrapper form {
    padding: 0px 0px 25px 30px;
}

.wrapper form .row {
    margin-top: 30px;    
    display: flex;
}

.wrapper form .column {
    flex: 50%;    
    margin-right: 30px;
}

.wrapper form .button input {
    position: relative;
    margin: 25px 9px 0px 0px;
    padding: 5px;
    left: 50%;
    width: 22%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;    
}

.wrapper form .row input {
    text-align:left;
    font-size: 16px;
    padding-left: 10px;
}

.wrapper form .row label{    
    font-size: 14px;
}


