.container {
  margin-top: -17%;
  margin-left: -400px;
  width: 800px;
  height: 400px;
}

.wrapper form {
  padding: 0px 0px 25px 30px;
}

.wrapper form .row {
  margin-top: 30px;
}

.wrapper form .column-left {
  width: 47%;
  float: left;
}

.wrapper form .column-right {
  width: 47%;
  margin-right: 30px;
  float: right;
}

.button input {
  margin: 25px 9px 0px 0px;
  left: 50%;
}

.wrapper form .row input {
  text-align: left;
  font-size: 16px;
  padding: 0px 15px;
}

.wrapper form .row label {
  font-size: 14px;
}

.wrapper textarea {
  border-radius: 5px;
  align-items: center;
  border: 1px solid lightgrey;
}

.row select {
  display: block;
  width: 360px;
  height: 35px;
  padding: 0px 15px;
}
